<html>
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>Customer Campaign Performance Dashboard</h1>

<p>Total Customers: {{ total_customers }}</p>
<p>Yes Responses: {{ total_yes }}</p>
<p>No Responses: {{ total_no }}</p>
<p>Response Rate: {{ response_rate }}%</p>

<div id="chart"></div>

<script>
    var graphs = {{ graphJSON | safe }};
    Plotly.newPlot('chart', graphs.data, graphs.layout);
</script>

</body>
</html>
